<!-- To define attributes in js code -->
<div id="steps" data-steps="{{ page.steps | size }}"></div>
<!--  -->
<!-- To define payment methods in js code -->
<div id="payment-methods" style="display: none;" data-methods='{{ site.data.payment-methods | jsonify }}'></div>
<!--  -->
<div class="steps glow-back">
  <div class="steps-header">
    <div class="steps-header-dots">
      {% for step in page.steps %}
        <div class="dot {% if step.id == 1 %} dot--active{% endif %}">
        </div>
      {% endfor %}
    </div>
    <p class="logic-steps">Step <span class="current-step">1</span> from {{ page.steps | size }}</p>
  </div>
  <div class="steps-content">
    {% for step in page.steps %}
      <div class="step">
        {% unless step.title == "" %}
        <h2 style="margin-top: 0;">{{ step.title }}</h2>
        {% endunless %}
        {% if step.id == 1 %}
        <input class="step-input" id="accountName" placeholder="Account name">
        {% elsif step.id == 2 %}
        <div class="payment-method-block">
          <h4 style="margin-top: 0; margin-bottom: 10px; font-family: 'Work Sans', sans-serif;">{{ step.subtitle }}</h4>
          <div style="font-size: 14px; margin-bottom: 20px; font-family: 'Work Sans', sans-serif;">{{ step.description }}</div>
          {% for method in site.data.payment-methods %}
            <button class="token-btn token-btn" style="margin-bottom: 20px; color: #FFF;" data-token="{{method.name}}" onclick="selectToken('{{method.name}}')">
              <img width="28px" height="28px" src="{{method.icon_url}}" alt="{{method.name}} Icon">
              {{ method.name }}
            </button>
          {% endfor %}
        </div>
        {% elsif step.id == 3 %}
        <!-- Dummy data -->
        <div class="big-amount">77,777.777</div>
        <!--  -->
        <div style="font-size: 14px; margin-bottom: 20px; margin-top: 10px; font-family: 'Work Sans', sans-serif;">{{ step.description1 }}</div>
        <h2 style="margin-top: 0; margin-bottom: 10px; font-family: 'Work Sans', sans-serif;">{{ step.subtitle }}</h2>
        <div style="font-size: 12px; margin-bottom: 20px; margin-top: 10px; font-family: 'Work Sans', sans-serif;">{{ step.description2 }}</div>
        <input class="step-input" id="tokenAmount" oninput="convertTokens()" placeholder="Enter amount">
        <div class="tokens-rates-block">
          {% for method in site.data.payment-methods %}
          <p>{{method.name}}: <span id="{{method.name}}Result">0</span></p>
          <div class="separator">|</div>
          {% endfor %}
          <p>USD: <span id="usdResult">0</span></p>
        </div>
        {% elsif step.id == 4 %}
        <div style="font-size: 14px; font-family: 'Work Sans', sans-serif; display: flex; align-items: center; flex-direction: row; margin-bottom: 20px; margin-top: 10px;">
          <div>To buy</div>
          <div id="usdAmount" style="margin: 0 4px;"></div>
          <div>tokens transfer to exact amount of</div>
          <div id="selectedToken" style="margin: 0 4px;"></div>
          <div>to:</div>
        </div>
        <div id="requisites"></div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <div class="steps-navigation">
    <button id="prevBtn" onclick="prevStep()" class="backButton">Back</button>
    <button id="nextBtn" onclick="nextStep()" class="nextButton">Next</button>
  </div>
</div>