body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  background-image: url('../../graphics/images/background.svg');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

header {
  padding: 10px;
  text-align: center;
}

main {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.steps {
  position: relative;
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  background-color: #111e3bbf;
  backdrop-filter: blur(5px);
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 1;
}

.steps-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.steps-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step {
  display: none;
  width: 100%;
}

.step.active {
  display: block;
}

.steps-navigation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.backButton {
  background: rgba(97,169,252,.1);
  border: none;
  border-radius: 50px;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-family: "Work Sans",sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1em;
  padding: 14px 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: .3s;
  max-width: 178px;
  margin-right: 20px;
}

.backButton:hover {
  transform: scale(1.015);
  background: rgba(97,169,252,.2);
}

.nextButton {
  background: linear-gradient(35Deg,#61a9fc,#315bce);
  box-shadow: 0px 0px 40px rgba(97,169,252,.2);
  border: none;
  border-radius: 50px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Work Sans",sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1em;
  padding: 14px 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: .3s;
  max-width: 178px;
}

.nextButton:hover {
  box-shadow: 0px 0px 60px rgba(97,169,252,.5);
  transform: scale(1.015);
}
/* 
.glow-back:hover {
  border: 5px solid rgba(97,169,252,.5);
  transition: .5s;
} */

.glow-back {
  border: 0px solid rgba(97,169,252,.5);
  transition: .5s;
}

.steps-header-dots {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

.dot {
  background: linear-gradient(35Deg,#61a9fc,#315bce);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  transition: .4s;
}

.dot--active {
  scale: 1.3;
  box-shadow: 0px 0px 60px rgba(97,169,252,.5);
  transition: .4s;
}

.logic-steps {
  display: none;
}

.step-input {
  background-color: rgba(97,169,252,.07);
  border: none;
  border-radius: 12px;
  box-sizing: border-box;
  color: #FFF;
  font-family: "Work Sans",sans-serif;
  padding: 16px 12px;
  text-align: center;
  width: 100%;
  outline: none;
  color: #61a9fc;
}

.step-input::placeholder {
  color: #61a9fc;
  opacity: .5;
}


.payment-method-block {
  margin: 20px 0;
  background-color: rgba(94,104,157, 0.2);
  border-radius: 15px;
  padding: 20px;
  width: auto;
}

.token-selector {
  display: flex;
  flex-direction: column;
}

.token-selector > button {
  color: #FFF;
}

.token-btn {
  align-items: center;
  background: linear-gradient(35Deg,#61a9fc,#315bce);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  gap: 14px;
  justify-content: flex-start;
  min-width: 100%;
  height: 48px;
  padding: 12px;
  position: relative;
  text-align: left;
  transition-duration: .3s;
  border: none;
  font-family: "Work Sans",sans-serif;
  opacity: 0.5;
}

.token-btn:hover {
  box-shadow: 0px 0px 60px rgba(97,169,252,.5);
  transform: scale(1.015);
}

.token-btn--active {
  opacity: 1;
}

.big-amount {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.tokens-rates-block {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.separator {
  display: flex;
  align-items: center;
  margin: 0 10px;
}